*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    width: 360px;
    height: 570px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.card img{
    height: 57%;
    border-radius: 10px;


}

.card h2{
    font-weight: bold;
    font-size: 1.7rem;
    margin: 10px;
}

.card p{
    font-size: 1.2rem;
    margin: 10px;
    
}